## Imports

In [1]:
import mysql.connector
from mysql.connector import Error
from configparser import ConfigParser

In [2]:
def read_db_config(section='mysql', filename='config.ini'):
    """ Read database configuration file and return a dictionary object
    :param filename: name of the configuration file
    :param section: section of database configuration
    :return: a dictionary of database parameters
    """
    # create parser and read ini configuration file
    parser = ConfigParser()
    parser.read(filename)
 
    # get section, default to mysql
    db = {}
    if parser.has_section(section):
        items = parser.items(section)
        for item in items:
            db[item[0]] = item[1]
    else:
        raise Exception('{0} not found in the {1} file'.format(section, filename))
 
    return db

In [4]:
def connect():
    """ Connect to MySQL database """
 
    #db_config = read_db_config()
 
    try:
        print('Connecting to MySQL database...')
        #conn = MySQLConnection(**db_config)
        conn = mysql.connector.connect(host="localhost",
                                      database="zyka",
                                      user="root",
                                      password="")
        if conn.is_connected():
            print('connection established.')
        else:
            print('connection failed.')
 
    except Error as error:
        print(error)
 
    finally:
        conn.close()
        print('Connection closed.')
 
 
if __name__ == '__main__':
    connect()

Connecting to MySQL database...
connection established.
Connection closed.

In [21]:
def query_with_fetchone():
    try:
        conn = mysql.connector.connect(host="localhost",
                                      database="ppg",
                                      user="root",
                                      password="")
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM funcionario")
 
        row = cursor.fetchone()
 
        while row is not None:
            print(row)
            row = cursor.fetchone()
 
    except Error as e:
        print(e)
 
    finally:
        cursor.close()
        conn.close()
 
 
if __name__ == '__main__':
    query_with_fetchone()

('123', 'testeBoy', 'teste@test.com', '202cb962ac59075b964b07152d234b70')
('14111410172', 'Phillip Aranjo', 'philliparanjo81@outlook.com', '202cb962ac59075b964b07152d234b70')
('37451660643', 'Betty Suarez', 'bettysuarez19@ig.com.br', '202cb962ac59075b964b07152d234b70')
('48868637734', 'Ricky Knight', 'rickyknight@outlook.com', '202cb962ac59075b964b07152d234b70')
('62187073358', 'Stacey Webb', 'staceywebb49@outlook.com', '202cb962ac59075b964b07152d234b70')
('66700060532', 'Anna Engelhardt', 'annaengelhardt@outlook.com', '202cb962ac59075b964b07152d234b70')
('75435812327', 'Ryan Carson', 'ryancarson64@bol.com.br', '202cb962ac59075b964b07152d234b70')
('76538014211', 'Sharon Sandifer', 'sharonsandifer11@hotmail.com', '202cb962ac59075b964b07152d234b70')
('77552234885', 'Gayle Isbell', 'gayleisbell@gmail.com', '202cb962ac59075b964b07152d234b70')
('85634088663', 'Linda Nelson', 'lindanelson13@bol.com.br', '202cb962ac59075b964b07152d234b70')
('88675585821', 'Michael Wilkens', 'michaelwilkens22@hotmail.com', '202cb962ac59075b964b07152d234b70')

In [36]:
def query_with_fetchall():
    try:
        conn = mysql.connector.connect(host="localhost",
                                      database="ppg",
                                      user="root",
                                      password="")
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM funcionario")
        rows = cursor.fetchall()
 
        print('Total Row(s):', cursor.rowcount)
        for row in rows:
            print(row)
 
    except Error as e:
        print(e)
 
    finally:
        cursor.close()
        conn.close()
 
 
if __name__ == '__main__':
    query_with_fetchall()

Total Row(s): 11
('123', 'testeBoy', 'teste@test.com', '202cb962ac59075b964b07152d234b70')
('14111410172', 'Phillip Aranjo', 'philliparanjo81@outlook.com', '202cb962ac59075b964b07152d234b70')
('37451660643', 'Betty Suarez', 'bettysuarez19@ig.com.br', '202cb962ac59075b964b07152d234b70')
('48868637734', 'Ricky Knight', 'rickyknight@outlook.com', '202cb962ac59075b964b07152d234b70')
('62187073358', 'Stacey Webb', 'staceywebb49@outlook.com', '202cb962ac59075b964b07152d234b70')
('66700060532', 'Anna Engelhardt', 'annaengelhardt@outlook.com', '202cb962ac59075b964b07152d234b70')
('75435812327', 'Ryan Carson', 'ryancarson64@bol.com.br', '202cb962ac59075b964b07152d234b70')
('76538014211', 'Sharon Sandifer', 'sharonsandifer11@hotmail.com', '202cb962ac59075b964b07152d234b70')
('77552234885', 'Gayle Isbell', 'gayleisbell@gmail.com', '202cb962ac59075b964b07152d234b70')
('85634088663', 'Linda Nelson', 'lindanelson13@bol.com.br', '202cb962ac59075b964b07152d234b70')
('88675585821', 'Michael Wilkens', 'michaelwilkens22@hotmail.com', '202cb962ac59075b964b07152d234b70')

In [37]:
def iter_row(cursor, size=10):
    while True:
        rows = cursor.fetchmany(size)
        if not rows:
            break
        for row in rows:
            yield row

In [50]:
dbConfig = read_db_config("zyka")
def query_with_fetchmany():
    try:
        conn = mysql.connector.connect(**dbConfig)
        cursor = conn.cursor()
 
        cursor.execute("SELECT * FROM funcionario")
 
        for row in iter_row(cursor, 10):
            print(row)
 
    except Error as e:
        print(e)
 
    finally:
        cursor.close()
        conn.close()

if __name__ == '__main__':
    query_with_fetchmany()

('123', 'testeBoy', 'teste@test.com', '202cb962ac59075b964b07152d234b70')
('14111410172', 'Phillip Aranjo', 'philliparanjo81@outlook.com', '202cb962ac59075b964b07152d234b70')
('37451660643', 'Betty Suarez', 'bettysuarez19@ig.com.br', '202cb962ac59075b964b07152d234b70')
('48868637734', 'Ricky Knight', 'rickyknight@outlook.com', '202cb962ac59075b964b07152d234b70')
('62187073358', 'Stacey Webb', 'staceywebb49@outlook.com', '202cb962ac59075b964b07152d234b70')
('66700060532', 'Anna Engelhardt', 'annaengelhardt@outlook.com', '202cb962ac59075b964b07152d234b70')
('75435812327', 'Ryan Carson', 'ryancarson64@bol.com.br', '202cb962ac59075b964b07152d234b70')
('76538014211', 'Sharon Sandifer', 'sharonsandifer11@hotmail.com', '202cb962ac59075b964b07152d234b70')
('77552234885', 'Gayle Isbell', 'gayleisbell@gmail.com', '202cb962ac59075b964b07152d234b70')
('85634088663', 'Linda Nelson', 'lindanelson13@bol.com.br', '202cb962ac59075b964b07152d234b70')
('88675585821', 'Michael Wilkens', 'michaelwilkens22@hotmail.com', '202cb962ac59075b964b07152d234b70')